<log4net>
  <root>
    <level value="ERROR"/>
    <appender-ref ref="FileAppender"/>
  </root>
  <logger name="acp010">
    <level value="ALL" />
    <appender-ref ref="ACP010_FileAppender"/>
    <appender-ref ref="ACP010_EventLogAppender"/>
  </logger>
  <logger name="acp020">
    <level value="ALL" />
    <appender-ref ref="ACP020_FileAppender"/>
    <appender-ref ref="ACP020_EventLogAppender"/>
  </logger>
  <logger name="acp030">
    <level value="ALL" />
    <appender-ref ref="ACP030_FileAppender"/>
    <appender-ref ref="ACP030_EventLogAppender"/>
  </logger>
  <logger name="acp040">
    <level value="ALL" />
    <appender-ref ref="ACP040_FileAppender"/>
    <appender-ref ref="ACP040_EventLogAppender"/>
  </logger>
  <logger name="workflow">
    <level value="ALL" />
    <appender-ref ref="Workflow_FileAppender"/>
  </logger>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="content\logging\" />
    <appendToFile value="true" />
    <datePattern value="'log_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
      <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
      <default />
      <!--explicit default members-->
      <remove value='message' />
      <!--remove the default preformatted message member-->
      <member value='message:messageobject' />
      <!--add raw message-->
    </layout>
  </appender>

  <appender name="ACP010_FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Projects\SECOM-ACS\AcsShared\logging\" />
    <appendToFile value="true" />
    <datePattern value="'acp010_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ACP010_EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="ACP010" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ACP020_FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Projects\SECOM-ACS\AcsShared\logging\" />
    <appendToFile value="true" />
    <datePattern value="'acp020_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ACP020_EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="ACP020" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ACP030_FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Projects\SECOM-ACS\AcsShared\logging\" />
    <appendToFile value="true" />
    <datePattern value="'acp030_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ACP030_EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="ACP030" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ACP040_FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Projects\SECOM-ACS\AcsShared\logging\" />
    <appendToFile value="true" />
    <datePattern value="'acp040_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ACP040_EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="ACP040" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="Workflow_FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Projects\SECOM-ACS\AcsShared\logging\" />
    <appendToFile value="true" />
    <datePattern value="'wf_'yyyy-MM-dd'.log'" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <encoding value="utf-8" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>