<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
   
  -->
  <appSettings>
    <add key="EnvironmentName" value="migrate"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="log4net.Config" value="log4net.test.config"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="remove" connectionString="" xdt:Transform="RemoveAll" />
    <add name="ACSContext"
      connectionString="metadata=res://*/Models.ACSModel.csdl|res://*/Models.ACSModel.ssdl|res://*/Models.ACSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Kawasaki01SVR\SQLSERVER2016;initial catalog=SECOM_ACS_MIGRATE;user=secom_acs;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="Insert" />
    <add name="IdentityContext"
     connectionString="metadata=res://*/IdentityModel.csdl|res://*/IdentityModel.ssdl|res://*/IdentityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Kawasaki01SVR\SQLSERVER2016;initial catalog=SECOM_ACS_MIGRATE;user=secom_acs;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
     xdt:Transform="Insert" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" xdt:Transform="Insert"/>
  </system.webServer>
  <system.net>
    <mailSettings xdt:Transform="RemoveAll"></mailSettings>
    <mailSettings xdt:Transform="Insert">
      <smtp deliveryMethod="Network" from="secom-acs-noreply@csithai.com">
        <network defaultCredentials="false" host="CSIEXCHANGE.CSIGROUPS.COM" password="" userName="" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Projects\SECOM-ACS\AcsShared\temp-mail" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
