
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="jumbotron">
        <h1><i class="fa fa-exclamation-triangle"></i>@MessageHelper.AccessDenied()</h1>
    </div>
</div>
