@import "https://fonts.googleapis.com/css?family=Poppins:400,500,600,700";
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  background: #fff;
  margin-bottom: 40px; }

label {
  font-weight: normal; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

/*
 * HR
 */
hr {
  margin-top: 10px;
  margin-bottom: 10px; }

hr.dashed {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dashed;
  border-top: 1px dashed #a7a2a2; }

/*
 * Headers
 */
h1 {
  letter-spacing: -1px;
  font-size: 2.0em;
  margin: 5px 0; }

h2 {
  letter-spacing: -1px;
  font-size: 1.6em;
  margin: 3px 0;
  line-height: normal; }

h3 {
  font-size: 1.4em;
  margin: 3px 0;
  line-height: normal; }

h4 {
  font-size: 1.2em;
  line-height: normal; }

h5 {
  font-size: 1.0em;
  font-weight: 400;
  margin: 3px 0;
  line-height: normal; }

h6 {
  font-size: 1.0em;
  margin: 3px 0;
  font-weight: bold;
  line-height: normal; }

header {
  color: #000;
  height: 60px;
  line-height: 60px;
  background-color: #fff; }

header .logo {
  font-size: 1.8em;
  font-weight: 500; }

header .logo img {
  height: 40px;
  vertical-align: middle; }

header .logo-group {
  padding-top: 10px;
  vertical-align: middle; }

.navbar-default {
  background: #2196F3;
  border-color: #2196F3;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 1.6em; }

.navbar-default .navbar-brand:hover {
  color: #000; }

.btn-sidebar {
  /*display: block;*/
  float: left;
  background-color: #58555f !important; }

.btn-sidebar .icon-bar {
  background-color: #fff !important; }

.btn-sidebar .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.btn-sidebar:hover {
  background-color: #efdd6c !important; }

.btn-sidebar:hover .icon-bar {
  background-color: #fff !important; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  font-size: 0.9em;
  transition: all 0.3s; }

.page-title {
  padding: 5px 15px;
  background-color: #d1e3f2;
  color: #3c3838; }

.page-content {
  padding: 5px 10px; }

.page-content > h2 {
  margin-top: 10px; }

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #000;
  z-index: 900;
  height: 40px; }

footer .resources {
  color: #000;
  background: #abcfeb;
  border-color: #abcfeb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 5px 20px; }

.list-resource li a {
  color: #000; }

.list-resource li a:hover {
  color: #3c3838; }

footer .app-info {
  color: #fff;
  background: #1A76BF;
  border-color: #1A76BF;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  height: 40px; }

.resources h3 {
  color: #000;
  margin: 5px 0px 10px 0px; }

.login-container {
  margin-top: 60px; }

.navbar {
  margin-bottom: 0px; }

.navbar-account {
  margin-right: 20px; }

.navbar-menu {
  background: #2196F3;
  border-color: #2196F3;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0,0.1);*/ }

.navbar-menu > li > a,
.navbar-menu > li > a:link,
.navbar-menu > li > a:visited,
.navbar-menu > li > a:active {
  color: #fff !important;
  background-color: #2196F3 !important; }

.navbar-menu > li > a:hover,
.navbar-menu > li > a:focus {
  color: #e9df1f !important;
  background-color: #58b0f6 !important; }

.navbar-user {
  font-size: 1.2em;
  font-weight: 600; }

.dropdown-menu {
  color: #fff;
  background-color: #2196F3; }

.dropdown-menu > li > a {
  color: #fff !important; }

.dropdown-menu > li > a:hover {
  color: #e9df1f !important;
  background-color: #58b0f6 !important; }

.button-container {
  margin: 10px 0px; }

