@{
    Layout = "_Layout";
}
<p>
    Request No.: @Model.RequestNo
</p>
<p>
    Dear ACS User,
</p>
<p>
    You have a new request as withness for @Model.RequestNo
</p>
<p>
    เรียนท่านผู้ใช้งานระบบ
</p>
<p>
    คุณมีคำขอให้เป้นผู้ติดตามรีเควส @Model.RequestNo
</p>
<p>
    ผู้ดูแลระบบ ACS
</p>

